<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Subjects</title>
  </head>
  <h1>SCHOOLS</h1>
  <a href="teachers">Teachers</a>
  <a href="subjects">Subjects</a>
  <a href="students">Students</a>
  <body>
    <table border="1px">
      <thead>
        <tr>
          <th>ID</th>
          <th>Subject</th>
          <th>Teachers</th>
          <th>Action</th>
          <th colspan="2">Option</th>
        </tr>
      </thead>
      <tbody>
        <%dataSubjects.forEach(row=>{ %>
          <tr>
            <td><%= row.id%></td>
            <td><%= row.subject_name%></td>
            <td>
              <%if(row.teachers.length > 0){ %>
                <%row.teachers.forEach((teachers,index)=>{ %>
                  <%= (index+=1) + '.' + teachers %>
                  <br>
                <%})%>
              <%} else {%>
              <%}%>
            </td>
            <td><a href="/subjects/enrolledstudents/<%= row.id%>">Enrolled Students</td>
            <td><a href="/subjects/edit/<%= row.id%>">Edit</td>
            <td><a href="/subjects/delete/<%= row.id%>">Delete</td>
          </tr>
        <%})%>
    </table>
    <a href="/subjects/add">Add</a>
    </tbody>
  </body>
</html>
