<%- include partial/header %>
<body>
<%- include partial/menu %>
<h3><a href="/teachers/add"><i class="fa fa-plus-square"></i> Add Teacher</a></h3>
<table border="0" cellpading="0" cellspacing="0">
	<th>No</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Email</th>
	<th>Subject</th>
	<th colspan="2">Action</th>
	<% data.forEach((i,no) => {%>
	<tr>
		<td><%-no+1%></td>
		<td><%-i.last_name%></td>
		<td><%-i.first_name%></td>
		<td><%-i.email%></td>
		<td><%-i.sub%></td>
		<td><a class="btn" href="/teachers/edit/<%-i.id%>"><i class="fa fa-edit"></i></a></td>
		<td><a class="btn" href="/teachers/delete/<%-i.id%>"><i class="fa fa-trash"></i></a></td>
	</tr>
	<%}) %>
</table>
</body>
</html>