<%- include partial/header %>
<body>
<%- include partial/menu %>
<h3><a href="/teachers"><i class="fa fa-book"></i> View Data</a></h3>
<form action="/teachers/edit/<%-data.id%>" method="post">
	<p>First Name</p>
	<input type="text" name="first_name" value="<%-data.first_name%>"> 
	<p>Last Name</p>
	<input type="text" name="last_name" value="<%-data.last_name%>"> 
	<p>Email</p>
	<input type="text" name="email" value="<%-data.email%>">
	<label><%-msg%></label>
	<p>Subject</p>
	<select name="SubjectId">
		<option value="<%-data.SubjectId%>"><%-data.subject_name%></option>
		<%subject.forEach(i => {%>
		<option value="<%-i.id%>"><%-i.subject_name%></option>
		<%})%>
	</select>
	<p>
	<input type="submit" value="Edit Teacher">
	</p>
</form>
</body>
</html>