<%- include partial/header %>
<body>
<%- include partial/menu %>
<h3><a href="/users/add"><i class="fa fa-plus-square"></i> Add Users</a></h3>
<table border="0" cellpading="0" cellspacing="0">
	<th>No</th>
	<th>Username</th>
	<th>Password</th>
	<th>Salt</th>
	<th>Role</th>
	<th colspan="2">Options</th>
	<% data.forEach((i,no) => {%>
	<tr>
		<td><%-no+1%></td>
		<td><%-i.username%></td>
		<td><%-i.password%></td>
		<td><%-i.salt%></td>
		<td><%-i.role%></td>
		<td><a class="btn" href="/users/edit/<%-i.id%>"><i class="fa fa-edit"></i></a></td>
		<td><a class="btn" href="/users/delete/<%-i.id%>"><i class="fa fa-trash"></i></a></td>
	</tr>
	<%}) %>
</table>
</body>
</html>