<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Halaman Subject</title>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center"><strong>TABLE SUBJECT</strong></h2>
      <br>
      <table class="table table-stripped table-hover table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>SUBJECT NAME</th>
            <th>TEACHER LIST</th>
            <!-- <th colspan="3" class="text-center">OPTIONS</th> -->
          </tr>
        </thead>
        <tbody>
          <% dataSubject.forEach(rows => { %>
            <tr>
              <td><%= rows.id %></td>
              <td><%= rows.subject_name %></td>
              <td>
                <% if(rows.teacher.length > 0) { %>
                <% rows.teacher.forEach((teacher,index) => { %>
                  <%= (index+=1) + '.' + teacher %>
                </br>
                <% }) %>
                <% } else { %>
                  x
                <% } %>
              </td>
              <!-- <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                    <i class="fa fa-user-plus"> Add</i>
                  </button>
              </td>
              <td>
                <a href="/subjects/edit/<%= rows.id %>">
                  <button type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-pencil"> Edit</i>
                  </button>
                </a>
              </td>
              <td>
                <a href="/subjects/delete/<%= rows.id %>">
                  <button type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-trash"> Delete</i>
                  </button>
                </a>
              </td> -->
              <% }) %>
        </tbody>
      </table>
    </div>
    <!-- <table border="1px solid black">
      <thead>
        <th>ID</th>
        <th>Subject Name</th>
        <th>TEACHER</th>
        <th colspan="3">STATUS</th>
      </thead>
      <tbody>
        <% dataSubject.forEach(rows => { %>
          <tr>
            <td><%= rows.id %></td>
            <td><%= rows.subject_name %></td>
            <td>
              <% if(rows.teacher.length > 0) { %>
              <% rows.teacher.forEach((teacher,index) => { %>
                <%= (index+=1) + '.' + teacher %>
              </br>
              <% }) %>
              <% } else { %>
                x
              <% } %>
            </td>
            <td><a href="/subjects/add">Add</a></td>
            <td><a href="/subjects/edit/<%= rows.id %>">EDIT</a></td>
            <td><a href="/subjects/delete/<%= rows.id %>">HAPUS</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table> -->
  </body>
</html>
